@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3db166
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.border-primary-color {
  border-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}