.main-container {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/images/login-page-bg-img.webp');
  background-size: cover;
  user-select: none;
  background-repeat: no-repeat;
}

.shadow {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, black, transparent);
}

@media (max-width: 1023px) {
  .shadow {
    background: linear-gradient(to bottom, black, transparent);
  }
}

@media (max-width: 767px) {
  .shadow {
    background: #00000080;
  }
}